.main {
  font-size: 1rem;
  display: flex;

  --tags-size: 112px;
  @media (max-width: 700px) {
    display: initial;
  }
}

.hero {
  flex-shrink: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0;

  .title {
    font-family: "Panchang";
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    margin: 0 3.5rem;

    & h2 {
      font-family: "input-mono";
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.18;
      letter-spacing: -0.05em;
    }

    @media (max-width: 700px) {
      font-size: 1rem;
    }
  }

  .tags {
    margin: 5rem 0 calc(var(--tags-size) * -1);
    padding: 0 3.5rem 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .tag {
      font-family: "input-mono";
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.16;
      padding: 0.5rem 1rem;
      border: 1px solid #fff;
      border-radius: 1rem;

      &:first-child {
        margin-right: auto;
      }
    }

    @media (max-width: 700px) {
      margin: 0;
    }
  }

  @media (max-width: 700px) {
    width: initial;
    gap: 4vh;
  }
}

.scrollContainer {
  display: grid;
  height: 100vh;
  box-sizing: border-box;
  grid-auto-flow: column;
  width: fit-content;

  .wrapper {
    display: grid;
    height: 100vh;
    box-sizing: border-box;
    grid-auto-flow: column;
    width: fit-content;
    padding-top: 3rem;
    margin-top: var(--tags-size);

    & section {
      flex-shrink: 0;

      overflow: auto;
      padding-bottom: 4rem;
    }

    @media (max-width: 700px) {
      display: initial;
    }
  }

  @media (max-width: 700px) {
    display: initial;
  }
}

.scroller {
  position: absolute;
  left: 3rem;
  right: 3rem;
  bottom: 1rem;
  /* padding: 0.5rem 1rem; */
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(16px);
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    inset: 50% 1rem;
    z-index: -1;
  }
}

.links {
  display: flex;
  flex-direction: row;
  gap: 2.75rem;
  padding: 1rem 3.75rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #ffffff;
}

.inner_links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 3.75rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #ffffff;
  border-top: 1px solid black;
  transition: all 1s;

  & a {
    padding: 2vh 0;
    list-style: none;
    position: relative;

    &:before {
      content: "▶ ";
      padding-right: 1ch;
      vertical-align: middle;
      font-size: 0.5em;
    }

    &:hover {
      transition: all 1s;
      border-top: 1px solid white;
    }
  }
}

.submenu_links {
  z-index: 10;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 2vh;
  padding: 0 3.75rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  background-color: black;
  color: #ffffff;
  left: 50%;
  top: 0;
  width: 100%;

  @media (max-width: 700px) {
    position: initial;
    padding: 0 1rem;
  }

  & a.none_hover {
    border-top: 1px solid rgb(0, 0, 0);
    &:hover {
      transition: all 1s;
      border-top: 1px solid rgb(0, 0, 0);
    }
  }
}

.desarrollo {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;

  .list {
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    text-transform: uppercase;

    li.li_tag {
      display: flex;

      & span {
        width: max-content;
      }
    }

    & li.li_tag:before {
      content: "▶ ";
      padding-right: 1ch;
      vertical-align: middle;
      font-size: 0.5em;
    }

    @media (max-width: 700px) {
      overflow: scroll;
      gap: 1.5rem;
      flex-direction: row;
      padding: 0 3vh;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: auto;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-left: 1.25rem;
    }

    & img {
      width: 100%;
    }

    @media (max-width: 700px) {
      padding: 0 6vh;
    }
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 0 3.5rem;
  font-family: Graphie;
  display: flex;
  flex-flow: column nowrap;
  gap: 3vh;

  .title {
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .info {
    font-size: 2rem;
    margin: 1.25rem 0 3.625rem;
    font-family: inherit;
  }
  .extra {
    font-size: 1.25rem;
    font-family: inherit;
  }
}

.imgSection {
  display: flex;
  align-items: center;

  & img {
    width: 100%;
    aspect-ratio: 43/25;
    background: #4b89cc;
  }
}

.links {
  width: 80vw;
  @media (max-width: 700px) {
    width: 100%;
  }
}
.desarrollo {
  width: 70vw;
  @media (max-width: 700px) {
    width: 100%;
  }
}
.imgSection {
  width: 70vw;
  @media (max-width: 700px) {
    width: 100%;
  }
}
.card {
  width: 60vw;
  @media (max-width: 700px) {
    width: 100%;
  }
}
.relatedProjects {
  width: 90vw;
  margin: 0 30vw;
  display: flex;
  align-items: center;
  @media (max-width: 700px) {
    width: 100%;
    margin: 0;
    padding: 2vh 13vw;
  }
}

.img_new {
  width: 100%;
  height: fit-content;
  aspect-ratio: 43/25;
  background: #4b89cc;
}
