.main {
  font-size: 1rem;
  display: flex;

  --tags-size: 112px;
  @media (max-width: 700px) {
    display: initial;
  }
}

.scrollContainer {
  display: grid;
  height: 100vh;
  box-sizing: border-box;
  grid-auto-flow: column;
  width: fit-content;

  .wrapper {
    display: grid;
    height: 100vh;
    box-sizing: border-box;
    grid-auto-flow: column;
    width: fit-content;
    padding-top: 3rem;
    margin-top: var(--tags-size);

    & section {
      width: 100vw;
      padding: 0 12vw;
      flex-shrink: 0;
      overflow: hidden;
      padding-bottom: 4rem;
    }

    @media (max-width: 700px) {
      display: initial;
    }
  }

  @media (max-width: 700px) {
    display: initial;
  }
}
