.main {
  width: 100%;
}

.tags_wrapper {
  color: #101010;
  padding: 3vh 6vh;
}

.tags_container {
  position: relative;
  height: fit-content;
  flex-direction: column;
  display: flex;
  margin-top: 4vh;
  gap: 2rem;
  clip-path: inset(0 0 0 0);
}

.tag {
  padding: 2rem 3.5rem;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  color: #fff;
  background: #101010;
  border: 2px solid #fff;
  transform-origin: bottom;
  box-shadow: 0 -3rem 0px 2rem #101010;
}

.left_content {
  width: 40%;
}

.right_content {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  gap: 4vh;
}

.left_content h4 {
  font-family: "Panchang";
  font-size: 9rem;
  text-align: center;
}

.right_numeral {
  font-family: "Panchang";
}

.title {
  font-family: "graphie";
  font-size: 2rem;
}

.right_text_content {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  font-size: 1rem;
}
/* Media Part */
@media (min-width: 590px) {
  .tag {
    flex-flow: row;
  }
}
