.main {
  width: 100%;
}

.tags_wrapper {
  color: #101010;
  padding: 3vh 6vh;
}

.tags_container {
  position: relative;
  height: fit-content;
  flex-direction: column;
  display: flex;
  margin-top: 4vh;
  gap: 2rem;
}

.tag {
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  color: #fff;
  background: #101010;
  border: 2px solid #fff;
  position: sticky;
  bottom: 0;
  transform-origin: bottom;
}

.know_more {
  width: 100%;
  padding: 2vh;
  border-radius: 25px;
  text-align: center;
  margin: auto;
  background-color: #101010;
  color: #fff;
  position: sticky;
  bottom: 10px;
}

.left_content {
  width: 100%;
}

.right_content {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  gap: 4vh;
}

.left_content h4 {
  font-family: "Panchang";
  font-size: 7rem;
  text-align: center;
}

.right_numeral {
  font-family: "Panchang";
}

.title {
  font-family: "graphie";
  font-size: 2rem;
}

.right_text_content {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  font-size: 1rem;
}
/* Media Part */
@media (min-width: 768px) {
  .tag {
    padding: 2rem 3.5rem;
    flex-flow: row;
  }

  .left_content h4 {
    font-family: "Panchang";
    font-size: 9rem;
    text-align: center;
  }

  .left_content {
    width: 40%;
  }
}
