.body {
    margin: 0;
    --color-text: #fff;
    --color-bg: #0b0b0b;
    --font-size-xl: 26vw;
    --font-family: "Arial", sans-serif;
    --font-weight: 900;
    --content-offset: 20vh;
    --color-rep-text: var(--color-text);
    --color-rep-bg: var(--color-bg);
    color: var(--color-text);
    background-color: var(--color-bg);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content {
    position: relative;
}

.content__title {
    font-size: var(--font-size-xl);
    margin: 0;
    display: grid;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--color-rep-text);
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text_rep {
    position: absolute;
    top: 0;
    height: auto;
    width: 100%;
    color: var(--color-rep-text);
    padding: 0;
    overflow: hidden;
    will-change: transform;
}

.image_logo {
    border-top: 2px solid var(--color-bg);
    height: auto;
    padding: 0;
    transition: all 1s;
    margin-top: 5px;
    width: 100%;
    overflow: hidden;
}
