/* Include your CSS styling here */
/* Example CSS based on the provided styles */
.body {
  margin: 0;
  --color-text: #fff;
  --color-bg: #101010;
  --font-size-xl: 26vw;
  --font-family: "Arial", sans-serif;
  --font-weight: 900;
  --content-offset: 20vh;
  --color-rep-text: var(--color-text);
  --color-rep-bg: var(--color-bg);
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
}

.content {
  overflow: hidden;

  display: flex;
  justify-content: flex-end;
  height: 50vh;
  flex-direction: column;
  align-items: center;
}

.content__title {
  font-size: var(--font-size-xl);
  margin: 0;
  display: grid;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--color-rep-text);
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text_rep {
  display: grid;
  width: 100%;
  color: var(--color-rep-text);
  padding: 0;
}

.text_rep span {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--color-rep-bg);
  will-change: transform;
}

.text {
  padding: 5rem 0;
  width: 70%;
  margin: auto;
}
.test {
  color: inherit;
}

.board {
  height: 22rem;
  width: 100%;
  background-color: beige;
}
.square {
  height: 5rem;
  width: 5rem;
  background-color: aqua;
}
._1 {
  background-color: rgb(84, 233, 119);
}
._2 {
  background-color: rgb(233, 102, 84);
}

.text_float {
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 19vw;
  transition: all 1s;
  width: 100%;
}
.image_logo {
  height: 18vw;
  padding: 0;
  transition: all 1s;
  width: 100%;
}

@media screen and (min-width: 53em) {
  .text_float {
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 20vw;
    width: 100%;
  }
  .image_logo {
    height: 19vw;
    padding: 0;
    width: 100%;
  }
}
