.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.code {
    font-family: 'input-mono';
    background-color: #f5f5f5;
    padding: 2px 4px;
    border-radius: 4px;
}

.link {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.8rem;
    bottom: 0;
    left: 0;
    background-color: #3498db;
    transform-origin: bottom right;
    transition: transform 0.3s ease;
    z-index: -1;
}

.link:hover {
    color: white;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.innertext {
    font-family: 'graphie';
    font-weight: 100;
    white-space: pre-wrap;
}
