.link {
    & :global(.char) {
        position: relative;
        display: inline-block;

        &::after {
            content: "";
            inset: 0;
            position: absolute;
            background: currentColor;
            opacity: var(--opa, 0);
        }
    }
}
