.main {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    --tags-size: 112px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.scrollContainer {
    display: grid;
    height: 100vh;
    box-sizing: border-box;

    width: fit-content;

    @media (min-width: 768px) {
        grid-auto-flow: column;
    }

    @media (max-width: 768px) {
        height: auto;
        width: 100vw;
    }
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-auto-flow: column;
    width: fit-content;
    padding-top: 3rem;

    & section {
        width: 100vw;
        padding: 0 12vw;
        flex-shrink: 0;
        overflow: hidden;
        padding-bottom: 4rem;
    }

    @media (max-width: 768px) {
        display: block;
        width: inherit;
        height: auto;
        padding: 1rem;

        & section {
            width: 100%;
            padding: 0 1rem;
        }
    }
}
