.container {
    padding: 6vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

    @media (min-width: 768px) {
        padding: 10vh 6vh;
        height: 100vh;
    }
}

.video {
    border-radius: 40px;
    width: inherit;
    height: -webkit-fill-available;
    margin: auto;
    @media (min-width: 768px) {
        width: fit-content;
    }
}

.mobileVideo {
    display: initial;
    @media (min-width: 768px) {
        display: none;
    }
}

.desktopVideo {
    display: none;
    @media (min-width: 768px) {
        display: initial;
    }
}
