.intro {
    padding: 10vh 3.5rem;
    width: 100vw;

    @media (max-width: 700px) {
        width: 100%;
    }
}

.title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.summary {
    font-family: Graphie;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    white-space: pre-wrap;
}
