.intro {
    padding: 0 3.5rem;

    & > p {
        margin: 1em 0;
    }

    width: 100vw;

    @media (max-width: 700px) {
        width: 100%;
    }
}

.date {
    margin-bottom: 2rem;
}

.summary {
    font-family: Graphie;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    white-space: pre-wrap;
}
