.main {
  width: 100%;
}

.main h1 {
  padding: 1rem;
}

.main h2 {
  padding: 1rem;
}

.main_image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.video_container {
  padding: 6vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;

  @media (min-width: 768px) {
    padding: 10vh 6vh;
  }
}

.video {
  width: 100%;
  border-radius: 40px;
}

.loaderContainer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.bar {
  width: 80%;
  height: 1vh;
}

.loader_text {
  font-size: 4vw;
}

.loaderBar {
  height: 100%;
  background-color: white;
  border-radius: 40px;
}
