.main {
  width: 100%;
}

.main h1 {
  padding: 1rem;
}

.main h2 {
  padding: 1rem;
}

.main_image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.video_container {
  padding: 6vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.video {
  width: 100%;
  border-radius: 40px;
}
