.main {
  width: 100%;
  padding: 16vh 0 0;
  @media (min-width: 700px) {
    padding: 16vh 0;
  }
}

.cards_container {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 5vh 2vw;
  @media (min-width: 700px) {
    padding: 5vh 10vw;
    height: 70vh;
  }
}

.card {
  position: absolute;
  border-radius: 20px;
  height: 80vh;
  width: 95%;
  padding: 3vh 4vw;
  color: black;
  background-color: #ededed;
  box-shadow: 0px 2px 6px 0px #1b1b1b;
  display: flex;
  gap: 2vw;
  flex-flow: column nowrap;
  justify-content: space-between;
  @media (min-width: 700px) {
    flex-flow: row nowrap;
    width: 80%;
    height: 65vh;
  }
}

.card_left_content {
  display: flex;
  flex-flow: column nowrap;
  height: 20%;

  @media (min-width: 700px) {
    width: 40%;
    height: auto;
  }
}

.left_first {
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: 800;
  @media (min-width: 700px) {
    height: 10%;
  }
}
.left_second {
  height: 80%;
  align-content: center;

  .title {
    font-family: "Panchang";
    font-weight: 300;
  }
}
.left_third {
  height: auto;
  @media (min-width: 700px) {
    height: 10%;
  }
}

.card_right_content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 80%;
  gap: 3vh;
  @media (min-width: 700px) {
    width: 60%;
    height: auto;
  }
}

.right_first {
  display: none;
  @media (min-width: 700px) {
    display: flex;
    flex-flow: row nowrap;
  }
}

.right_second {
  display: flex;
  flex-flow: column nowrap;
  height: inherit;
  gap: 3vh;
}
.right_third {
  display: flex;
}

.white_button {
  background-color: #ededed;
  color: black;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.black_button {
  background-color: #1b1b1b;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.warning {
  color: red;
  font-size: small;
}

/*Contact Region*/

.contact {
  display: flex;
  flex-flow: column nowrap;
  gap: 4vh;
  width: 100%;
  @media (min-width: 700px) {
    gap: none;
    flex-flow: row nowrap;
  }
}

.contact_column {
  display: flex;
  flex-flow: column nowrap;
  gap: 4vh;
  @media (min-width: 700px) {
    gap: 2vh;
    width: 50%;
  }
}

.imput_text {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  @media (min-width: 700px) {
    width: 80%;
  }
}

.imput_text_date {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  width: 42%;
  @media (min-width: 700px) {
    width: 80%;
  }
}

.input_white {
  background-color: #ededed;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: border-bottom-color 0.3s ease;
  color: black;

  padding: 1vh;

  &:focus-visible {
    border-bottom: #1b1b1b;
  }
}

/*Place region*/

.input_form {
  display: flex;
  flex-flow: row nowrap;
  gap: 6vw;
}

.input_place {
  display: inline-flex;
  flex-direction: row;
  gap: 1vw;
}

/*Type of project region */

.project_column {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
}

.farewell_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 2vh;
}

.form_row {
  display: flex;
  gap: 4vw;
}

.journey {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  @media (min-width: 700px) {
    width: 70%;
  }
}

.text_area {
  color: #1b1b1b;
  background-color: white;
  padding: 1rem;
  height: 30vh;
  border: 1px solid #7c7c7c;
  border-radius: 10px;
  @media (min-width: 700px) {
    height: auto;
  }
}

.calendar_flex {
  display: flex;
  flex-flow: column nowrap;
  gap: 2vh;
  @media (min-width: 700px) {
    flex-flow: row nowrap;
    gap: 3vh;
  }
}

.calendar_wrapper {
  width: 100%;
  @media (min-width: 700px) {
    width: 60%;
  }
}

.calendar_container {
  background-color: white;
  border-radius: 20px;
  padding: 2vh;
}

.input_date {
  background-color: #ededed;
  padding: 1vh;
  border: 1px solid #6b6b6b;
  border-radius: 20px;
  transition: border-bottom-color 0.3s ease;
  color: #1f1f1f;

  &:focus-visible {
    border-bottom: #1b1b1b;
  }
}

.input_date_flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  @media (min-width: 700px) {
    flex-flow: column nowrap;
    gap: 3vh;
  }
}

.dates_flex {
  display: flex;
  flex-flow: column nowrap;
  gap: 3vh;
  @media (min-width: 700px) {
    width: 40%;
  }
}

.schedule_form {
  display: flex;
  flex-flow: column nowrap;
  gap: 3vh;
  width: 60%;
}

.arrow_button {
  width: 4vw;
  height: 4vw;
  @media (min-width: 700px) {
    width: 2vw;
    height: 2vw;
  }
}

.return_button_top {
  @media (min-width: 700px) {
    display: none;
  }
}
