.main {
}

.title {
  font-family: "Panchang";
  font-size: 3rem;
  text-align: center;
}

.gif_wrapper {
  padding: 0 6vh;
}

.image_gif {
  width: 100%;
  height: auto;
  border-radius: 40px;
}

.description {
  padding: 6vh;
  line-height: 3vh;
  display: flex;
  flex-flow: column nowrap;
  gap: 6vh;
}

.description p {
  font-family: "graphie";
  width: 70%;
}

.description p:nth-child(1) {
  font-size: 2.5rem;
  font-weight: lighter;
  line-height: 3rem;
}
