.main {
    width: 100%;
}

.title {
    text-align: center;
    font-family: "panchang";
    font-size: 2rem;
    padding-bottom: 2rem;
    font-weight: 700;
}

.gif_wrapper {
    padding: 0 6vh;
}

.image_gif {
    width: 100%;
    height: auto;
    border-radius: 40px;
}

@media (min-width: 768px) {
    .title {
        font-size: 3rem;
    }
}
