.container {
    margin: 5.5rem 0 10rem;
}

.scrollContainer {
    display: flex;
    width: 100%;
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
    cursor: grab;
}

.titles {
    display: flex;
    position: sticky;
    top: 0;
    margin: 4rem 0;
    border-bottom: solid 1px #606060;
    z-index: 10;

    .title {
        opacity: 0.6;
        font-family: "input-mono";
        font-size: 1.1rem;
        line-height: 2.5;
        text-align: left;
        text-transform: uppercase;
        font-weight: 300;
        flex: content;

        &.active {
            opacity: 1;
            font-weight: 700;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .line {
        display: none;
        position: absolute;
        height: 1px;
        top: 100%;
        background: #fff;
        transition: all 0.3s ease-in-out;
    }

    .title,
    .line {
        width: 100%;
        flex-shrink: 0;
    }

    @media (min-width: 700px) {
        margin: 2rem 0;
        font-size: 1.25rem;
        border-bottom: none;

        .title {
            text-align: center;
            width: auto;
            flex: 1;
        }

        .line {
            display: block;
            width: auto;
            flex: 1;
        }
    }
}

.tab {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;

    & p {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }

    & p span {
        font-family: Graphie;
        font-weight: 100;
        font-size: larger;
        line-height: 1.2;
    }

    .number {
        font-family: Panchang;
        font-weight: 300;
        font-size: 8.125rem;
        margin: 2.5rem 0;
        text-align: center;
    }

    .text_content {
        white-space: pre-wrap;
    }

    @media (min-width: 700px) {
        padding: unset;
        flex-direction: row-reverse;
        gap: 3rem;

        & p {
            display: flex;
            flex-direction: column;
            gap: 3vh;
            align-content: center;
            justify-content: center;
            font-size: 1.625rem;
            line-height: 1.2;
        }
        .number {
            font-size: 14.5rem;
        }
    }
}

.steps {
    margin-top: 1.25rem;
    display: flex;
    gap: 0.75rem;

    @media (min-width: 700px) {
        display: none;
    }

    .step {
        all: unset;
        flex: 1;
        height: 0.25rem;
        margin: 1.25rem 0;
        border-radius: 2rem;
        background: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        transition: background 500ms ease-out;

        &.active {
            background: #fff;
        }
    }
}

.options {
    display: flex;
    width: 100%;
    overflow: scroll;
    scrollbar-color: transparent transparent;
    gap: 2.5rem;
    margin: 0 1rem;

    @media (min-width: 700px) {
        overflow: hidden;
        gap: 0;
    }
}

.images {
    object-fit: contain;
    padding-bottom: 4rem;
    width: 72%;
    height: auto;
    margin: auto;

    @media (min-width: 700px) {
        padding-top: 5vh;
        width: 50%;
    }
}
