.welcome_container {
  padding: 25vh 6vh 5vh;
  width: 100%;
}

.welcome_h1 {
  font-family: "graphie";
  width: 65%;
  font-size: 3rem;
  font-weight: lighter;
  line-height: 3.5rem;
  text-align: left;
}
