.figure {
    display: grid;
    gap: 0.75rem;
    box-sizing: border-box;
    overflow: hidden;
}

.wrapper {
    position: relative;
    object-position: bottom;
    overflow: hidden;
    display: grid;
    place-items: center;
    aspect-ratio: var(--aspect-ratio, 16/7);
    width: 100%;
    cursor: pointer;

    & img {
        background-position: 50%;
        background-size: cover;
        position: relative;
        opacity: 0;
        border-radius: 0.75rem;
    }
}

.caption {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1em;
}

.title * {
    font-family: "panchang";
    font-weight: 300;
    font-size: 1.25em;
}

.tagWrapper {
    display: flex;
    gap: 10px;
}

.tag {
    font-family: "graphie";
    padding: 0.5rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5rem;
    font-size: 0.75rem;
}

.caseStudyTag {
    background-color: #fff;
    color: #000;
}

.second {
    font-family: "Panchang";
    @media (min-width: 700px) {
        padding: 0 0 0 60vw;
    }
}

@media (max-width: 700px) {
    .tagWrapper {
        align-self: flex-start;
    }
}
@media (min-width: 700px) {
    .tagWrapper {
        position: absolute;
        right: 0;
    }
}
